.login-view
  margin: auto
  background-color: #2196f3
  position: absolute
  height: 100%
  width: 100%
  text-align: center

.login-view md-content
  width: 400px
  background-color: #2196f3
  margin: 10px auto

.login-view h1
  font-family: 'Poiret One', cursive
  text-align: center
  color: #014157

.login-view button
  margin: 20px 0 15px 0

.login-view .logo
  width: 80%
  margin-bottom: 30px