<div class="login-view">
    <md-content class="md-padding">
        <md-card>
            <h1>Log In</h1>
            <md-card-content>

                <md-input-container class="md-icon-float">
                    <label>Email Address</label>
                    <md-icon md-font-set="material-icons">account_circle</md-icon>
                    <input ng-model="user.username" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float">
                    <label>Password</label>
                    <md-icon md-font-set="material-icons">gesture</md-icon>
                    <input ng-model="user.pwd" type="text">
                </md-input-container>

                <md-button class="md-raised md-primary">Log In</md-button>

            </md-card-content>
        </md-card>
    </md-content>
</div>
